
//------------------------------------------------------------------------------
//-- FONT --
//------------------------------------------------------------------------------

$font-size-base:        15px;
$font-family-base:      Circular, sans-serif;
$font-family-headings:  $font-family-base;

//------------------------------------------------------------------------------
//-- LINE HEIGHTS --
//------------------------------------------------------------------------------

$line-height-base:      1.6;
$line-height-headings:  1;

//------------------------------------------------------------------------------
//-- MODULAR SCALE --
//------------------------------------------------------------------------------

$ms-ratio:              $fourth;
$ms-base:               1rem;

//------------------------------------------------------------------------------
//-- COLORS --
//------------------------------------------------------------------------------

$color-accent:          #0BC279;
$color-body:            #ffffff;
$color-body-alt:        #AEB9C6;
$color-text:            #0F2830;
$color-text-alt:        #ffffff;
$color-text-headings:   $color-text;
$color-text-link:       $color-text;
$color-text-link-hover: $color-accent;
$color-divider: #DFE6ED;

//------------------------------------------------------------------------------
//-- SPACES --
//------------------------------------------------------------------------------

$width-container: 1360px;
$space-section: 2rem;
$space-gutter: 1rem;
$default-grid-gutter: 24px;


$gap-section-x: 13.02%;

$gap-section-y: 9.025%;

$gap-section-x-s: 6.05%;

$gap-cta-x: 7.96%;
$gap-cta-y: $gap-cta-x - 2.5;

//------------------------------------------------------------------------------
//-- RUPTURE --
//------------------------------------------------------------------------------

$rupture: map-merge($rupture, (
  mobile-cutoff: 400px,
  desktop-cutoff: 1050px,
  hd-cutoff: 1800px,
));
