
section.c-home-section {
  margin: $gap-section-y 0;
  @include below(l) {
    margin: ($gap-section-y * 1.5) 0;
  }
  @include below(m) {
    margin: ($gap-section-y * 2.5) 0;
  }
}

//------------------------------------------------------------------------------
//-- PAGE SECTION -- HOME BANNER --
//------------------------------------------------------------------------------

section.c-home-section--banner {
  margin-top: 0;
  margin-bottom: -3.8%;
  background-color: #F4F6F9;
  background: linear-gradient(104.69deg, #F4F6F9 39.87%, #AEB9C6 89.63%);
  border-radius: 1rem;
  font-size: 1.2rem;
  overflow: hidden;
  @include below(l) {
    margin-bottom: -7%;
  }

  div.c-home-section__wrap {
    padding: 9.025% 0;
    position: relative;
    @include below(m) {
      padding-bottom: 10%;
    }

    > div {
      @include size(100%, auto);
      max-width: none;
      position: absolute;
      right: -48%;
      bottom: 10%;
      @include below(m) {
        position: static;
        transform: translate(20%,10%);
      }
    }
  }

  article {
    position: relative;
    z-index: 1;
    position: relative;
    max-width: 500px;
    @include below(l) {
      max-width: 400px;
    }

    @include below(m) {
      max-width: none;
      margin-bottom: 10%;
    }

    h2 {
      margin-top: 0;
    }

    p {
      margin: 1.4em 0;
      font-size: 1.47rem;
      line-height: 1.4;
    }
  }
}

//------------------------------------------------------------------------------
//--  BRAND LIST --
//------------------------------------------------------------------------------

ul.c-home-section__brand-list {
  @include clearfix();
  margin-top: -2rem;

  li {
    display: block;
    lost-column: 1/6 6 $space-gutter;
    margin-top: 2rem;
    @include below(m) {
      lost-column: 1/3 3 $space-gutter;
      margin-top: 1.33rem;
    }

    img {
      border: 1px solid $color-divider !important;
      border-radius: 0.5rem;
      pointer-events: none;
      @include size(100%, auto);
    }
  }
}

//------------------------------------------------------------------------------
//-- PRODUCT-CTA --
//------------------------------------------------------------------------------

section.c-home-section--product-cta {
  div.c-home-section__wrap {
    background: linear-gradient(94.77deg, #64DB9B 6.92%, #014751 93.31%);
    border-radius: 1rem;
    position: relative;

    article {
      color: $color-text-alt;
      @include below(l) {
        padding-top: 0;
        max-width: none;
      }

      > div {
        position: absolute;
        bottom: -18%;
        right: 0;
        max-width: 55%;
        @include below(l) {
          position: static;
          max-width: 100%;
          margin-bottom: -10%;
          transform: translate(-10%,-15%);
        }
      }

      h4 {
        position: relative;
        z-index: 1;
        @include below(l) {
          margin-top: 0.5em;
        }
      }
    }
  }
}

//------------------------------------------------------------------------------
//-- MOTTO - VISION - MISSION --
//------------------------------------------------------------------------------

section.c-home-section--mvm {
  div.c-home-section__wrap {
    margin: 0 10.22%;
    @include below(l) {
      margin: 0 2rem;
    }
  }

  div.c-home-section__boxes {
    @include clearfix();
    @include below(l) {
      margin-top: -1rem;
    }

    > div.c-home-section__box {
      lost-column: 1/3 3 $default-grid-gutter;
      min-height: 250px;

      @include below(68em) {
        min-height: 296px;
      }

      @include below(l) {
        lost-column: 1/1 0 0;
        margin-top: $default-grid-gutter;
        min-height: 0;
      }
    }
  }

  div.c-home-section__box {
    border-radius: 0.5rem;

    span {
      display: block !important;
    }

    &:nth-child(1) {
      background-color: #8772C11A;
    }

    &:nth-child(2) {
      background-color: #FFA7671A;
    }

    &:nth-child(3) {
      background-color: #279FE31A;
    }

    article {
      position: relative;
      padding: 2.5rem;
      @include below(l) {
        padding-right: 100px;
      }

      svg {
        position: absolute;
        top: -8px;
        right: -8px;
        @include size(80px);
      }

      h4 {
        font-size: 2.158rem;
        margin: 0 0 1.4rem 0;
      }

      p {
        margin: 0;
      }
    }
  }
}

//------------------------------------------------------------------------------
//-- QUALITY --
//------------------------------------------------------------------------------

section.c-home-section--quality-cta {
  position: relative;

  > article {
    position: absolute;
    top: 0;
    left: $gap-section-x-s;
    padding: ($gap-cta-x - 2) ($gap-cta-x - 1);
    width: 50%;
    @include below(m) {
      display: none;
    }
  }

  div.c-home-section__wrap {
    background: linear-gradient(94.83deg, #F1F5F8 6.92%, #DFE6ED 92.32%);
    border-radius: 1rem;
    overflow: hidden;
  }
}

//------------------------------------------------------------------------------
//-- QUALITY TABLE --
//------------------------------------------------------------------------------

div.c-home-section__qlty {
  display: table;
  width: 100%;
  table-layout: fixed;
  @include below(m) {
    display: block;
  }

  > div.c-home-section__qlty-item {
    display: table-cell;
    vertical-align: top;
    overflow: hidden;
    @include below(m) {
      display: block;
    }

    &.c-home-section__qlty-item--post {
      > article {
        position: static;
        width: auto;
        height: 327px;
        visibility: hidden;
        @include below(m) {
          visibility: visible;
          height: auto;
          padding: 10%;
        }
      }
    }

    &.c-home-section__qlty-item--img {
      position: relative;
      overflow: hidden;
      width: 43%;
      @include below(m) {
        @include size(auto, 40vh);
      }

      > div {
        max-width: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 150%;
        transform: translate(-50%,-50%);
        @include below(l) {
          width: 200%;
        }
        @include below(s) {
          width: 220%;
        }
      }
    }
  }
}
